tmp/cache/
*.rb
scraped_content_*.txt
node_modules/
package.json
package-lock.json
postcss.config.js
.env
db/development.sqlite3*
*.log
tmp/
# Dev database
db/development.sqlite3*
db/*.sqlite3-journal
db/*.sqlite3-shm
db/*.sqlite3-wal

# Logs
log/*.log
tmp/

/app/assets/builds/*
!/app/assets/builds/.keep
script/audit/*.pdf
.env
script/audit/*.pdf
